body {
    margin: 0;
    font-size: larger;
}

.container {
    margin: 8px 8px 8px 8px;
    display: grid;
    height: 80%;
    gap: 8px;
    grid-template: 50px 1fr 50px / 300px 1fr 300px;
}

.grid-main {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    gap: 8px;
}

.grid-header {
    display: grid;
    grid-template-columns: 1fr 10%;
    margin: 0;
}

.sidebar-l, .sidebar-r {
    background-color: #DADAE0;
    height: 100%;
}

.content {
    background-color: #C0C0CA;
    box-shadow: 4px 4px #DADAE0;
    height: 100%;
}

.header, .footer {
    color: azure;
    height: calc((20% / 2) - 8px);
    margin: 0;
    display: grid;
    background-color: slateblue;
    padding-left: 8px;
    padding-right: 8px;
}

.block {
    width: 1fr;
    align-content: center;
}

.icon {
    justify-content: left;
    width: 21px;
    align-content: center;
}

.menu {
    align-content: center;
}

a {
    color: #DDDDFF
}